/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

a {
  text-decoration: none;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  overflow: scroll;
  overflow-X: hidden;
}

header {
  display: flex;
}
header ul {
  display: flex;
}
header ul a :hover {
  transform: scale(1.1);
  transition: 1s;
}
header li {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 20px;
  color: #274C5B;
  margin-top: 40px;
}
header .serch {
  margin-top: 50px;
}
header .login-a {
  margin-left: 444px;
}

.cart {
  margin-top: 50px;
  margin-left: 30px;
  margin-right: 10px;
}

.cart-t {
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo {
  margin-left: 20px;
  margin-right: 50px;
  width: 100px;
  height: 100px;
}

.logo-div {
  display: inline-block;
}

li i {
  margin-right: 10px;
}

.explore-button {
  width: 220px;
  height: 79px;
  border-radius: 16px;
  border-color: yellow;
  border: 0px;
  color: #274C5B;
  margin-left: 260px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: yellow;
}

.bg-image {
  margin-top: 50px;
  background-image: url(../img/Background.jpg);
  width: 1920px;
  height: 892px;
  padding-top: 600px;
}

.healty {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #274C5B;
  font-size: 50px;
  margin-left: 260px;
  margin-bottom: 23px;
}

.explore-button {
  cursor: pointer;
}

.banana {
  animation: bumpAnimation 1s ease-in-out infinite;
  border-radius: 20px;
  background-image: url(../img/Photo.jpg);
  margin-top: 145px;
  width: 628px;
  height: 367px;
  position: relative;
  margin-left: 200px;
  margin-bottom: 277px;
}
.banana h2 {
  position: absolute;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: white;
  font-size: 50px;
  margin-top: 160px;
  margin-left: 40px;
}

.fruit {
  animation: bumpAnimation 1s ease-in-out infinite;
  border-radius: 20px;
  background-image: url(../img/Photo\ \(1\).jpg);
  width: 628px;
  height: 367px;
  margin-top: 145px;
  margin-left: 40px;
}
@keyframes bumpAnimation {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.fruit h2 {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  color: #274C5B;
  font-size: 50px;
  margin-top: 160px;
  margin-left: 40px;
}

.flex {
  display: flex;
}

.s2 {
  display: flex;
}
.s2 .div-img img {
  width: 911px;
  height: 867px;
}
.s2 .read {
  margin-top: 100px;
  color: #7EB693;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 900;
}
.s2 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  height: 100px;
}
.s2 .description {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 500px;
  margin-top: 30px;
}
.s2 .organic {
  margin-left: 67px;
  margin-top: 48.5px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.s2 .organic-p {
  margin-top: -10px;
  margin-left: 67px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 700px;
}
.s2 .quality {
  margin-left: 67px;
  margin-top: 35px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.s2 .quality-p {
  margin-top: -10px;
  margin-left: 67px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  width: 700px;
}
.s2 input {
  margin-top: 50px;
  background-color: #274C5B;
  display: flex;
  width: 220px;
  padding: 28px 39px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 16px;
  color: white;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}

.s3 .categories {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.s3 .product {
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 30px;
}
.s3 .shop-div-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1400.361px;
  margin-left: 100px;
}
.s3 .shop-div-main a:hover {
  transition: all 1s;
  transform: scale(1.1);
}
.s3 .shop-div-main h2 {
  color: #274C5B;
  margin-top: 330px;
  margin-left: 31px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.s3 .shop-div-main h3 {
  color: #274C5B;
  margin-top: 330px;
  margin-left: 31px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s3 .shop-div-main .shop-div1 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/image_13-removebg-preview.png);
}
.s3 .shop-div-main .shop-div2 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__1_-removebg-preview.png);
}
.s3 .shop-div-main .shop-div3 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__2_-removebg-preview.png);
}
.s3 .shop-div-main .shop-div4 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__3_-removebg-preview.png);
}
.s3 .shop-div-main .shop-div5 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__4_-removebg-preview.png);
}
.s3 .shop-div-main .shop-div6 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__5_-removebg-preview.png);
}
.s3 .shop-div-main .shop-div7 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__6_-removebg-preview.png);
}
.s3 .shop-div-main .shop-div8 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/Photo__7_-removebg-preview.png);
}
.s3 .shop-button {
  cursor: pointer;
  margin-top: 100px;
  margin-left: 700px;
  border: none;
  border-radius: 16px;
  background-color: #274C5B;
  width: 220px;
  height: 79px;
  margin-bottom: 150px;
}
.s3 .shop-button:hover {
  transition: all 1s;
  transform: scale(1.1);
}
.s3 .shop-button .more {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-weight: 400px;
  font-size: 20px;
  color: white;
}
.s3 .arrow-icon {
  margin-left: 10px;
}

.span-1 {
  color: #B8B8B8;
  margin-right: 10px;
  text-decoration: line-through;
}

.rate {
  margin-left: 70px;
}

.s4 .s4-main-div {
  background-image: url(../img/stick6.png);
  height: 1000px;
  width: 100%;
}
.s4 .s4-main-div .costumers-h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-bottom: 100px;
}
.s4 .s4-main-div .costumers-h3 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 30px;
}
.s4 .s4-main-div .profile {
  width: 90px;
  height: 90px;
  margin-left: 790px;
  margin-bottom: 10px;
}
.s4 .s4-main-div .rate-for-costumer {
  margin-left: 802px;
  margin-bottom: 20px;
}
.s4 .s4-main-div .comentar {
  color: #525C60;
  margin-left: 590px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 20px;
}
.s4 .s4-main-div .name {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-align: center;
}
.s4 .costumer {
  color: #525C60;
  font-family: Open Sans;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  margin-left: 805px;
}
.s4 .circle {
  margin-left: 818px;
  margin-bottom: 100px;
}
.s4 .cirle-rate {
  margin-left: 550px;
}

.s5 {
  width: 1920px;
  height: 600px;
  background-color: #274C5B;
}
.s5 .offer {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 200px;
  margin-bottom: 20px;
}
.s5 .traning {
  color: #FFF;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 40px;
  margin-left: 200px;
}
.s5 .flex {
  display: flex;
}
.s5 .flex a :hover {
  transition: all 1s;
  transform: scale(1.1);
}
.s5 .flex .view-more {
  margin-left: 500px;
  cursor: pointer;
  border: none;
  border-radius: 16px;
  background-color: yellow;
  width: 220px;
  height: 79px;
}
.s5 .flex .view-more h2 {
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  font-weight: 600px;
  font-size: 20px;
  color: #274C5B;
}
.s5 .flex .view-more .arrow-icon {
  margin-left: 10px;
}
.s5 .shop-div-main2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 1400.361px;
  margin-left: 100px;
}
.s5 .shop-div-main2 a:hover {
  transition: all 1s;
  transform: scale(1.1);
}
.s5 .shop-div-main2 h2 {
  color: #274C5B;
  margin-top: 330px;
  margin-left: 31px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-top: 10px;
}
.s5 .shop-div-main2 h3 {
  color: #274C5B;
  margin-top: 330px;
  margin-left: 31px;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s5 .shop-div-main2 .shop-div2-1 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/dumbbells-png-picture-5a3b7c956565b0.4074282015138479574153-removebg-preview.png);
}
.s5 .shop-div-main2 .shop-div2-2 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/dumbbells-png-picture-5a3b7c956565b0.4074282015138479574153-removebg-preview.png);
}
.s5 .shop-div-main2 .shop-div2-3 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/dumbbells-png-picture-5a3b7c956565b0.4074282015138479574153-removebg-preview.png);
}
.s5 .shop-div-main2 .shop-div2-4 {
  background-color: #F9F8F8;
  border: none;
  border-radius: 45px;
  width: 300px;
  height: 400px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
  background-image: url(../img/dumbbells-png-picture-5a3b7c956565b0.4074282015138479574153-removebg-preview.png);
}

.s6 {
  margin-bottom: 100px;
}
.s6 .flex {
  display: flex;
}
.s6 .s6-div {
  position: absolute;
  left: 800px;
  top: 6455px;
}
.s6 .natural {
  height: 800px;
  width: 850px;
}
.s6 .s6-div {
  background-color: white;
  height: 600px;
  border-radius: 16px;
}
.s6 h3 {
  margin-left: 50px;
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s6 h2 {
  margin-left: 50px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 500px;
}
.s6 .gym {
  margin-left: 50px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 20px;
}
.s6 .best {
  margin-left: 50px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
}

.s7 {
  height: 500px;
}
.s7 .flex {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
}
.s7 .s7-bg {
  background-size: 500px;
  width: 500px;
  height: 291px;
  background-repeat: no-repeat;
  background-image: url(../img/f0191268-400px-wm.jpg);
}
.s7 .s7-bg :hover {
  transform: scale(1.2);
  transition: all 1s;
}
.s7 h2 {
  font-size: large;
  font-weight: 700;
  display: flex;
  width: 200px;
  height: 65px;
  background-color: white;
  color: #274C5B;
  border-radius: 20px;
  margin-left: 150px;
  margin-top: 110px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.s7 .s7-bg2 {
  background-size: 500px;
  width: 500px;
  height: 291px;
  background-repeat: no-repeat;
  background-image: url(../img/Photo\ \(4\).jpg);
}
.s7 .s7-bg2 :hover {
  transform: scale(1.2);
  transition: all 1s;
}
.s7 .s7-bg3 {
  width: 500px;
  height: 600px;
  background-size: 500px;
  background-repeat: no-repeat;
  background-image: url(../img/sleep.jpg);
  background-size: 512px;
}
.s7 .s7-bg3 :hover {
  transform: scale(1.2);
  transition: all 1s;
}

.s8 .s8-traning {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: 150px;
}
.s8 .flex2 {
  display: flex;
}
.s8 .follow {
  margin-left: 150px;
  margin-right: 693px;
  margin-bottom: 20px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.s8 .channel :hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.s8 .videos-button {
  cursor: pointer;
  background-color: white;
  width: 170px;
  height: 65px;
  border: solid 1px #274C5B;
  border-radius: 16px;
}
.s8 .videos-button .videos {
  color: #274C5B;
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.s8 .flex {
  display: flex;
  justify-content: space-evenly;
}
.s8 .flex .bg {
  background-image: url(../img/7-scaled.jpeg);
  width: 600px;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 20px;
  background-size: 665px;
  margin-bottom: 300px;
}
.s8 .flex .bg .s8-bg-text {
  box-shadow: 0px 20px 10px grey;
  background-color: white;
  width: 500px;
  height: 230px;
  position: absolute;
  top: 8200px;
  left: 191px;
  border-radius: 20px;
}
.s8 .flex .bg .s8-bg-text .name {
  margin-top: 20px;
  margin-left: 30px;
  margin-bottom: 10px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.s8 .flex .bg .s8-bg-text .youtube-logo {
  margin-right: 5px;
}
.s8 .flex .bg .s8-bg-text .traning-h2-for-s8 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 30px;
  margin-bottom: 10px;
}
.s8 .flex .bg .s8-bg-text .description-s8 {
  margin-left: 30px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  margin-bottom: 10px;
}
.s8 .flex .bg a :hover {
  transform: scale(1.1);
  transition: all 1s;
}
.s8 .flex .bg .s8-button {
  margin-left: 30px;
  cursor: pointer;
  background-color: #EFD372;
  border-radius: 16px;
  width: 190px;
  border: none;
  height: 79px;
}
.s8 .flex .bg .s8-button .s8-youtube {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.s8 .flex .bg2 {
  margin-left: 20px;
}
.s8 .flex .bg-text2-s8 {
  margin-left: 770px;
}

.s9 .background {
  margin-bottom: 100px;
  width: 950px;
  height: 180px;
  background-image: url(../img/Photo\ \(5\).jpg);
  border-radius: 20px;
  margin-left: 350px;
}
.s9 .background .flex {
  display: flex;
}
.s9 .background .subscribe {
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 300px;
  margin-left: 50px;
  padding-top: 50px;
}
.s9 .background #comment {
  resize: none;
  height: 50px;
  margin-left: 420px;
  border-radius: 16px;
}
.s9 .background .sub-button {
  cursor: pointer;
  background-color: #274C5B;
  color: white;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  width: 150px;
  height: 40px;
  border-radius: 16px;
  margin-top: 50px;
  margin-left: 10px;
}
.s9 .background #mail {
  width: 300px;
  height: 40px;
  margin-top: 50px;
  margin-left: 70px;
  border-radius: 16px;
  border: none;
}

footer .line {
  background-color: #D4D4D4;
  width: 1px;
  height: 336px;
  margin-left: 100px;
}
footer .line2 {
  background-color: #D4D4D4;
  width: 1px;
  height: 336px;
  margin-right: 100px;
}
footer .flex {
  display: flex;
}
footer .flex .footer-div1 {
  width: 285px;
  height: 307px;
  margin-left: 180px;
}
footer .flex .footer-div1 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: right;
  margin-bottom: 20px;
}
footer .flex .footer-div1 h3 {
  color: #525C60;
  text-align: right;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 165%;
}
footer .flex .footer-div1 h4 {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  text-align: right;
  margin-bottom: 20px;
  line-height: 165%;
}
footer .flex .footer-div2 {
  width: 543px;
  height: 246px;
}
footer .flex .footer-div2 img {
  width: 190px;
}
footer .flex .footer-div2 .tbc-hover {
  display: flex;
  justify-content: center;
}
footer .flex .footer-div2 .tbc-hover :hover {
  transform: scale(1.1);
  transition: 1s;
}
footer .flex .footer-div2 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}
footer .flex .footer-div2 p {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
}
footer .flex .footer-div2 .flex1 {
  display: flex;
  justify-content: center;
}
footer .flex .footer-div3 {
  width: 285px;
  height: 304px;
}
footer .flex .footer-div3 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
footer .flex .footer-div3 ul a :hover {
  transform: scale(1.1);
  transition: 1s;
}
footer .flex .footer-div3 ul li {
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-right: 20px;
  color: #274C5B;
  margin-top: 20px;
}

.about-us-s1 {
  margin-bottom: 50px;
  width: 1920px;
  height: 450px;
  background-image: url(../img/Photo\ \(12\).png);
  background-repeat: no-repeat;
}
.about-us-s1 .about-us-header {
  color: #274C5B;
  font-family: Roboto;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 90px;
  text-align: center;
}

.about-us-s2 .food {
  width: 800px;
  height: 700px;
}
.about-us-s2 .text-div1 {
  padding-top: 30px;
}
.about-us-s2 .aboutus {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.about-us-s2 .Help {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}
.about-us-s2 .dummy-text {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  width: 650px;
  margin-bottom: 20px;
}
.about-us-s2 .create-product {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-right: 30px;
}
.about-us-s2 i {
  margin-right: 10px;
}
.about-us-s2 .healty-product {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.about-us-s2 .aboutus-explore {
  width: 220px;
  height: 79px;
  border-radius: 16px;
  background-color: #274C5B;
  border: 0px;
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  cursor: pointer;
}
.about-us-s2 .hover {
  width: 220px;
  height: 79px;
}
.about-us-s2 .hover:hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.about-us-s2 .arrow {
  margin-left: 10px;
}
.about-us-s2 .margin-bottom {
  margin-bottom: 20px;
}

.about-us-s3 .flex3 {
  display: flex;
  justify-content: space-around;
}
.about-us-s3 .left {
  margin-left: 42px;
  margin-bottom: 45px;
}
.about-us-s3 .left2 {
  margin-left: 50px;
  margin-bottom: 22px;
}
.about-us-s3 .left3 {
  margin-left: 65px;
  margin-bottom: 45px;
}
.about-us-s3 .left4 {
  margin-left: 80px;
  margin-bottom: 45px;
}
.about-us-s3 .return {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}
.about-us-s3 .return-p {
  color: #525C60;
  width: 184px;
  height: 115px;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
}
.about-us-s3 .text-div-about-us {
  margin-bottom: 30px;
  width: 671px;
  margin-left: 260px;
}
.about-us-s3 h3 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.about-us-s3 .wedontbuy {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}
.about-us-s3 p {
  margin-bottom: 60px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
}
.about-us-s3 .backgorund-color {
  margin-bottom: 20px;
  border-radius: 49px;
  background: #ECECEC;
  width: 300px;
  height: 60px;
}
.about-us-s3 .backgorund-color h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding-top: 20px;
}
.about-us-s3 .backgorund-color i {
  margin-right: 20px;
}
.about-us-s3 img {
  border-radius: 20px;
  width: 500px;
  height: 500px;
  margin-left: 30px;
}
.about-us-s3 .text {
  margin-left: 30px;
}

.aboutus-s4 {
  margin-bottom: 100px;
}
.aboutus-s4 .team {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 10px;
}
.aboutus-s4 .team-h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-bottom: 20px;
}
.aboutus-s4 .dummy-text-aboutus {
  color: #525C60;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  margin-bottom: 40px;
}
.aboutus-s4 .flex-team {
  display: flex;
  justify-content: space-evenly;
}
.aboutus-s4 .flex-team .bg-team2 {
  width: 400px;
  height: 600px;
  background-image: url(../img/Photo\ \(8\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.aboutus-s4 .flex-team .bg-team2:hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.aboutus-s4 .flex-team .bg-team2 .giovani {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 500px;
  margin-bottom: 5px;
}
.aboutus-s4 .flex-team .bg-team2 .farmer-flex {
  display: flex;
}
.aboutus-s4 .flex-team .bg-team2 .farmer-flex i {
  margin-left: 10px;
  margin-top: 10px;
}
.aboutus-s4 .flex-team .bg-team2 .designer {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 170px;
}
.aboutus-s4 .flex-team .bg-team3 {
  width: 400px;
  height: 600px;
  background-image: url(../img/Photo\ \(9\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.aboutus-s4 .flex-team .bg-team3:hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.aboutus-s4 .flex-team .bg-team3 .giovani {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 500px;
  margin-bottom: 5px;
}
.aboutus-s4 .flex-team .bg-team3 .farmer-flex {
  display: flex;
}
.aboutus-s4 .flex-team .bg-team3 .farmer-flex i {
  margin-left: 10px;
  margin-top: 10px;
}
.aboutus-s4 .flex-team .bg-team3 .farmer2 {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 220px;
}
.aboutus-s4 .flex-team .bg-team2 {
  width: 400px;
  height: 600px;
  background-image: url(../img/Photo\ \(8\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0px 10px 20px grey;
}
.aboutus-s4 .flex-team .bg-team2 .giovani {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 500px;
  margin-bottom: 5px;
}
.aboutus-s4 .flex-team .bg-team2 .farmer-flex {
  display: flex;
}
.aboutus-s4 .flex-team .bg-team2 .farmer-flex i {
  margin-left: 10px;
  margin-top: 10px;
}
.aboutus-s4 .flex-team .bg-team2 .designer {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 170px;
}
.aboutus-s4 .flex-team .bg-team {
  width: 400px;
  height: 600px;
  background-image: url(../img/Photo\ \(7\).jpg);
  background-color: white;
  background-repeat: no-repeat;
  border-radius: 20px;
}
.aboutus-s4 .flex-team .bg-team:hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.aboutus-s4 .flex-team .bg-team .giovani {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 500px;
  margin-bottom: 5px;
}
.aboutus-s4 .flex-team .bg-team .farmer-flex {
  display: flex;
}
.aboutus-s4 .flex-team .bg-team .farmer-flex i {
  margin-left: 2cqh;
  margin-top: 10px;
}
.aboutus-s4 .flex-team .bg-team .farmer {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 230px;
}
.aboutus-s4 .flex-team .bg-team .designer {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 170px;
}
.aboutus-s4 .flex-team .bg-team .farmer2 {
  color: #7EB693;
  font-family: Noto Serif Georgian;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-right: 200px;
}

.aboutus-s5 {
  margin-bottom: 100px;
  width: 100%;
  height: 700px;
  background-color: #274C5B;
}
.aboutus-s5 .aboutus-text {
  color: #7EB693;
  font-family: Yellowtail;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-top: 100px;
}
.aboutus-s5 .flex-offer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}
.aboutus-s5 .offers {
  color: #FFF;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  margin-bottom: 30px;
}
.aboutus-s5 .text-flex {
  display: flex;
  justify-content: space-around;
}
.aboutus-s5 .text-flex h2 {
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  animation: bumpAnimation 1s ease-in-out infinite;
}
.aboutus-s5 .bg-offer {
  background-image: url(../img/Photo\ \(10\).jpg);
  width: 335px;
  height: 300px;
  background-repeat: no-repeat;
  border-radius: 50px;
  animation: bumpAnimation 1s ease-in-out infinite;
}
.aboutus-s5 .bg-offer2 {
  background-image: url(../img/Photo\ \(11\).jpg);
  width: 310px;
  height: 300px;
  background-repeat: no-repeat;
  animation: bumpAnimation 1s ease-in-out infinite;
  border-radius: 50px;
}
.aboutus-s5 .bg-offer3 {
  background-image: url(../img/Photo\ \(12\).jpg);
  width: 310px;
  height: 300px;
  background-repeat: no-repeat;
  border-radius: 50px;
  animation: bumpAnimation 1s ease-in-out infinite;
}
.aboutus-s5 .bg-offer4 {
  background-image: url(../img/png-transparent-dumbbells-dumbell-barbell-dumbells-gym-gym-equipment-3d-icon-thumbnail-removebg-preview.png);
  width: 335px;
  background-size: 320px;
  background-color: white;
  height: 300px;
  background-repeat: no-repeat;
  border-radius: 50px;
  animation: bumpAnimation 1s ease-in-out infinite;
}

.services-s1 {
  width: 1680px;
  height: 450px;
  background-image: url(../img/Photo\ \(13\).png);
  margin-bottom: 100px;
}
.services-s1 h2 {
  text-align: center;
  color: #274C5B;
  font-family: Roboto;
  font-size: 200px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  padding-top: 56px;
}

.services-s2 h3 {
  color: #7EB693;
  font-family: Noto Serif Georgian;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.services-s2 .better-life {
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
}
.services-s2 .services-flex {
  display: flex;
  justify-content: space-evenly;
}
.services-s2 a :hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.services-s2 .diary {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: right;
}
.services-s2 .diary2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.services-s2 .text-dummy {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  margin-bottom: 50px;
  text-align: right;
}
.services-s2 .text-dummy2 {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  margin-bottom: 50px;
}
.services-s2 .services-main {
  margin-top: 100px;
}
.services-s2 .services-div {
  width: 396px;
}
.services-s2 .services-div .left {
  margin-left: 378px;
}
.services-s2 .img-div {
  width: 400px;
}
.services-s2 img {
  width: 500px;
}
.services-s2 button {
  cursor: pointer;
  background-color: white;
  width: 200px;
  height: 70px;
  border: solid 2px;
  border-radius: 16px;
  border-color: #274C5B;
  margin-left: 730px;
  margin-bottom: 100px;
}
.services-s2 button:hover {
  transform: scale(1.1);
  transition: all linear 1s;
}
.services-s2 button h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.services-s4 {
  background-image: url(../img/Photo\ \(13\).jpg);
  width: 1680px;
  height: 800px;
  background-size: 1800px;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}
.services-s4 h3 {
  color: #7EB693;
  text-align: center;
  font-family: Noto Serif Georgian;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 20px;
  padding-top: 200px;
}
.services-s4 h2 {
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 20px;
}
.services-s4 p {
  color: #274C5B;
  text-align: center;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  width: 500px;
  margin-bottom: 20px;
}
.services-s4 svg {
  margin-left: 190px;
  cursor: pointer;
}
.services-s4 svg:hover {
  transform: scale(1.1);
  transition: all linear 1s;
}

.bar {
  width: 1px;
  height: 1px;
}

.single-services-s1 {
  background-image: url(../img/EPL-DAIRY-PRODUCTS.jpg);
  width: 1680px;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 1800px;
  margin-bottom: 100px;
}
.single-services-s1 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-align: center;
  padding-top: 180px;
}

.single-services-s2 {
  width: 100%;
}
.single-services-s2 .cow-flex {
  display: flex;
  justify-content: center;
}
.single-services-s2 .cow-flex .cow {
  width: 1200px;
}
.single-services-s2 .natural2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 400px;
  margin-bottom: 20px;
}
.single-services-s2 .natural2-p {
  width: 900px;
  height: 100px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  margin-left: 400px;
  margin-bottom: 90px;
}
.single-services-s2 .flex-single-services {
  display: flex;
}
.single-services-s2 .flex-single-services img {
  width: 380px;
  height: 250px;
  border-radius: 20px;
  margin-left: 400px;
}
.single-services-s2 .flex-single-services .diary-products2 {
  margin-left: 0;
}
.single-services-s2 .flex-single-services .clean-div {
  margin-left: 50px;
  background-color: #F9F8F8;
  width: 500px;
  height: 250px;
  border-radius: 20px;
  margin-bottom: 50px;
}
.single-services-s2 .flex-single-services .clean-div2 {
  margin-left: 396px;
  margin-right: 55px;
  background-color: #F9F8F8;
  width: 500px;
  height: 250px;
  border-radius: 20px;
}
.single-services-s2 .flex-single-services .clean-product {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-top: 60px;
  margin-left: 50px;
  margin-bottom: 10px;
}
.single-services-s2 .flex-single-services .clean-p {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  width: 400px;
  margin-left: 50px;
}
.single-services-s2 .healty-services {
  color: #274C5B;
  font-family: Roboto;
  font-size: 35px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-left: 400px;
}
.single-services-s2 .healty-services-p {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  width: 800px;
  margin-bottom: 30px;
  margin-left: 400px;
}
.single-services-s2 .quality-sup {
  display: flex;
  margin-left: 400px;
  margin-bottom: 100px;
}
.single-services-s2 .grey-bg {
  background-color: #F9F8F8;
  border-radius: 40px;
  width: 400px;
  height: 90px;
  display: flex;
  margin-right: 50px;
}
.single-services-s2 .best-quality {
  margin-left: 30px;
  margin-top: 25px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.single-services-s2 .circle-bg {
  margin-left: 30px;
  margin-top: 10px;
  background-color: #7EB693;
  border-radius: 69px;
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.single-services-s2 .circle-bg h2 {
  color: #FFF;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.contact-us-s1 {
  background-image: url(../img/Photo\ \(17\).png);
  width: 100%;
  height: 450px;
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 200px;
}
.contact-us-s1 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 70px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.contact-us-s2 .contact-us-img {
  margin-right: 30px;
}
.contact-us-s2 .contact-us-img img {
  width: 579px;
  height: 579px;
  border-radius: 20px;
}
.contact-us-s2 .contact-us-s2-text {
  margin-bottom: 90px;
}
.contact-us-s2 .contact-us-s2-text .contact-h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  width: 700px;
}
.contact-us-s2 .contact-us-s2-text p {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  width: 600px;
}
.contact-us-s2 .contact-flex {
  display: flex;
  justify-content: center;
}
.contact-us-s2 .svg-div {
  display: flex;
  border-radius: 16px;
  border: 1px solid #EEE;
  background: #FFF;
  width: 352px;
  height: 113px;
  margin-bottom: 20px;
}
.contact-us-s2 svg {
  margin-top: 10px;
  margin-left: 10px;
}
.contact-us-s2 .messege {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: 25px;
  margin-left: 10px;
}
.contact-us-s2 h3 {
  color: #525C60;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
  margin-left: 10px;
}

.contact-us-s3 {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 70px;
}
.contact-us-s3 .contact-us-bg {
  background-image: url(../img/Photo\ \(15\).jpg);
  width: 1310px;
  height: 600px;
  border-radius: 30px;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 {
  width: 514px;
  height: 514px;
  background-color: white;
  border-radius: 30px;
  margin-left: 750px;
  margin-top: 50px;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 .center {
  margin-left: 30px;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 h3 {
  font-family: Noto Serif Georgian;
  color: #7EB693;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 50px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 10px;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 p {
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  width: 400px;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 h4 {
  color: #525C60;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%;
  margin-bottom: 10px;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 span {
  color: #525C60;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 165.4%; /* 29.772px */
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 .contact-us-flex {
  display: flex;
}
.contact-us-s3 .contact-us-bg .contact-us-bg2 .contact-us-flex i {
  margin-right: 10px;
  margin-top: 15px;
}

.contact-us-s4 .name-email-input {
  display: flex;
  justify-content: center;
}
.contact-us-s4 .name-email-input label {
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
.contact-us-s4 .name-email-input .hover-input {
  margin-bottom: 50px;
}
.contact-us-s4 .name-email-input .hover-input :hover {
  background-color: #7EB693;
  transition: 1s;
}
.contact-us-s4 .name-email-input input {
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 16px;
  border: 1px solid #7EB693;
  width: 500px;
  height: 60px;
  padding-left: 30px;
}
.contact-us-s4 .Company-subject-input {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}
.contact-us-s4 .Company-subject-input label {
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
.contact-us-s4 .Company-subject-input .hover-input :hover {
  background-color: #7EB693;
  transition: 1s;
}
.contact-us-s4 .Company-subject-input input {
  margin-top: 20px;
  margin-right: 30px;
  border-radius: 16px;
  border: 1px solid #7EB693;
  width: 500px;
  height: 60px;
  padding-left: 30px;
}
.contact-us-s4 .submit-hover :hover {
  transform: scale(1.1);
  transition: all 1s;
}
.contact-us-s4 .send-message {
  color: #FFF;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  background-color: #274C5B;
  border-radius: 16px;
  border: none;
  width: 250px;
  height: 70px;
  margin-left: 268px;
  margin-top: 30px;
  cursor: pointer;
  margin-bottom: 100px;
}
.contact-us-s4 .textarea {
  margin-left: 268px;
}
.contact-us-s4 .textarea #message {
  border-radius: 16px;
  border: 1px solid #7EB693;
  resize: none;
}
.contact-us-s4 .textarea .message1 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-left: 10px;
}
.contact-us-s4 .textarea .message {
  margin-top: 30px;
}
.contact-us-s4 .textarea .message :hover {
  background-color: #7EB693;
  transition: 1s;
}

.news-s1 {
  margin-bottom: 100px;
  background-image: url(../img/Photo\ \(16\).png);
  width: 100%;
  height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-s1 h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 100px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.news-s2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.news-s2 .bg-news {
  margin-left: 30px;
  background-image: url(../img/Photo\ \(19\).png);
  width: 600px;
  height: 150px;
  background-repeat: no-repeat;
  border-radius: 40px;
  padding-top: 370px;
  margin-bottom: 150px;
}
.news-s2 .bg-news .circle-bg {
  position: absolute;
  margin-top: -350px;
  margin-left: 23px;
  background-color: white;
  border-radius: 69px;
  width: 69px;
  height: 69px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-s2 .bg-news .circle-bg h2 {
  color: #274C5B;
  text-align: center;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.news-s2 .bg-news .news-white-bg {
  background-color: white;
  width: 500px;
  height: 200px;
  margin-left: 45px;
  border-radius: 30px;
}
.news-s2 .bg-news .news-white-bg h3 {
  padding-top: 20px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 10px;
}
.news-s2 .bg-news .news-white-bg h3 i {
  margin-right: 8px;
}
.news-s2 .bg-news .news-white-bg h2 {
  color: #274C5B;
  font-family: Roboto;
  font-size: 25px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 5px;
}
.news-s2 .bg-news .news-white-bg p {
  margin-bottom: 10px;
  color: #525C60;
  font-family: Open Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 165.4%; /* 29.772px */
}
.news-s2 .bg-news .news-white-bg h4 {
  margin-bottom: 10px;
  color: #274C5B;
  font-family: Roboto;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.news-s2 .bg-news .news-white-bg div {
  margin-left: 30px;
  margin-top: 30px;
}

.login-main {
  padding-top: 100px;
}
.login-main main {
  z-index: 100;
}
.login-main body {
  background-color: grey;
  padding: 90px;
}
.login-main .box {
  width: 600px;
  height: 700px;
  background-color: #23242a;
  position: relative;
  margin: 0 auto;
  border-radius: 6px 60px;
  overflow: hidden;
}
.login-main .box::before {
  content: " ";
  position: absolute;
  top: -50%;
  left: -40%;
  width: 600px;
  height: 790px;
  /* background: linear-gradient(
      #1f4037, #99f2c8

  ); */
  background-color: yellow;
  transform-origin: bottom right;
  animation: animate 3s linear infinite;
}
.login-main .box::after {
  content: " ";
  position: absolute;
  bottom: -60%;
  right: -40%;
  width: 500px;
  height: 790px;
  background: linear-gradient(109.6deg, rgb(255, 230, 109) 11.2%, rgb(87, 232, 107) 100.2%);
  transform-origin: top left;
  animation: animate 3s linear infinite;
}
@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.login-main form {
  position: absolute;
  inset: 5px;
  border-radius: 6px 60px;
  background-color: #23242a;
  z-index: 10;
}
.login-main h2 {
  margin-top: 10px;
  color: yellow;
  font-size: 60px;
  font-family: "roboto";
  text-align: center;
  font-weight: 600;
}
.login-main .inputbox {
  position: relative;
  width: 300px;
  margin-top: 80px;
}
.login-main .inputbox input {
  font-size: 20px;
  font-weight: 500;
  position: relative;
  width: 550px;
  padding: 20px 10px 10px;
}
.login-main .Login {
  font-size: 20px;
  font-weight: 800;
  font-family: "roboto";
  border: none;
  outline: none;
  background-color: yellow;
  margin-top: 20px;
  border-radius: 90px;
  cursor: pointer;
  width: 590px;
  height: 40px;
}
.login-main span {
  color: yellow;
  font-family: "roboto";
  font-size: 20px;
  font-weight: 600;
}
.login-main .Username {
  border-radius: 20px;
  background-color: #23242a;
  border: 3px solid yellow;
  transition: 1s;
  outline: none;
}
.login-main .password {
  border-radius: 20px;
  background-color: #23242a;
  border: 3px solid yellow;
  transition: 1s;
  outline: none;
}
.login-main .inputbox :hover {
  background-color: yellow;
}
.login-main ::-moz-placeholder {
  color: yellow;
  opacity: 1;
}
.login-main ::placeholder {
  color: yellow;
  opacity: 1;
}
.login-main .login-color :hover {
  background: linear-gradient(#1f4037, #99f2c8);
}

@media (max-width: 1024px) {
  header .login-a {
    margin-left: 50px;
  }
  header .cart {
    margin-left: 10px;
    margin-bottom: 15px;
  }
  .s2 .img-div {
    width: 500px;
  }
  .s2 .img-div img {
    width: 500px;
  }
  .s2 .text-div {
    width: 500px;
  }
  .s2 .text-div h2 {
    font-size: 20px;
    height: 30px;
  }
  .s2 .text-div .read {
    margin-top: 60px;
  }
  .s2 .text-div .organic-p {
    width: 400px;
    height: 50px;
  }
  .s2 .text-div p {
    font-size: 15px;
    height: 30px;
  }
  .s2 .text-div h3 {
    margin-top: 20px;
    font-size: 20px;
  }
  .s2 .text-div input {
    margin-top: 30px;
    width: 136px;
  }
  .s3 .shop-div-main {
    width: 786.361px;
  }
  .s3 .shop-button {
    margin-left: 400px;
  }
  .s4 .s4-main-div .profile {
    margin-left: 443px;
  }
  .s4 .s4-main-div .rate-for-costumer {
    margin-left: 454px;
  }
  .s4 .s4-main-div .costumer {
    margin-left: 455px;
  }
  .s4 .s4-main-div .comentar {
    margin-left: 202px;
  }
  .s4 .s4-main-div .circle {
    margin-left: 469px;
  }
  .s4 .s4-main-div .cirle-rate {
    margin-left: 202px;
  }
  .s5 {
    height: 1301px;
  }
  .s5 .shop-div-main2 {
    width: 724.361px;
  }
  .s6 .s6-div {
    left: 363px;
    top: 7517px;
  }
  .s7 .s7-bg {
    background-size: 329px;
  }
  .s7 .s7-bg2 {
    width: 399px;
    background-size: 253px;
  }
  .s7 .s7-bg3 {
    background-size: 430px;
  }
  .s7 h2 {
    margin-left: 46px;
  }
  .s8 .flex .bg-text2-s8 {
    margin-left: 526px;
  }
  .s8 .flex .bg .s8-bg-text {
    box-shadow: 0px 20px 10px grey;
    background-color: white;
    width: 428px;
    height: 230px;
    position: absolute;
    top: 9364px;
    left: 11px;
    border-radius: 20px;
  }
  .s9 .background {
    margin-left: 19px;
  }
  footer .flex .footer-div1 {
    margin-left: 0px;
  }
  .about-us-s1 .about-us-header {
    text-align: left;
  }
  .about-us-s2 .flex .food {
    width: 604px;
    height: 611px;
  }
  .about-us-s2 .flex h3 {
    font-size: 10px;
  }
  .about-us-s2 .flex h2 {
    font-size: 20px;
  }
  .about-us-s2 .flex p {
    font-size: 20px;
    width: 403px;
  }
  .about-us-s3 .text-div-about-us {
    margin-left: 48px;
  }
  .about-us-s3 img {
    height: 672px;
  }
  .cart-t {
    margin-left: 25px;
  }
  .aboutus-s4 .flex-team {
    flex-direction: column;
    margin-left: 300px;
    align-content: space-around;
  }
  .aboutus-s4 .bg-team {
    margin-bottom: 20px;
  }
  .aboutus-s4 .bg-team2 {
    margin-bottom: 30px;
  }
  .aboutus-s5 {
    height: 900px;
  }
  .aboutus-s5 .bg-offer {
    width: 304px;
    margin-bottom: 7px;
  }
  .aboutus-s5 .bg-offer4 {
    width: 309px;
  }
  .aboutus-s5 .flex-offer {
    flex-wrap: wrap;
  }
  .aboutus-s5 .text-flex h2 {
    color: #274C5B;
  }
  footer .line {
    margin-right: 0px;
  }
  footer .line2 {
    margin-right: 0px;
  }
  .services-s2 .img-div {
    width: 469px;
  }
  .services-s2 button {
    margin-left: 407px;
  }
  .services-s4 div {
    margin-left: -700px;
  }
  .contact-us-s2 .contact-us-img img {
    width: 413px;
    height: 497px;
  }
  .contact-us-s2 .contact-us-s2-text .contact-h2 {
    width: 540px;
    font-size: 40px;
  }
  .contact-us-s2 .contact-us-s2-text p {
    width: 400px;
  }
  .contact-us-s3 .contact-us-bg .contact-us-bg2 {
    margin-left: 259px;
  }
  .contact-us-s4 .name-email-input input {
    width: 420px;
  }
  .contact-us-s4 .Company-subject-input input {
    width: 420px;
  }
  .contact-us-s4 .textarea {
    margin-left: 20px;
  }
  .contact-us-s4 textarea {
    width: 930px;
  }
  .contact-us-s4 .send-message {
    margin-left: 356px;
  }
}
@media (max-width: 768px) {
  .s7 {
    height: 840px;
  }
  .s7 h2 {
    margin-top: 85px;
  }
  .s7 .flex {
    flex-wrap: wrap;
  }
  .s7 .s7-bg2 {
    width: 495px;
    background-size: 332px;
    height: 360px;
  }
  .s7 .s7-bg3 {
    width: 490px;
    height: 596px;
    background-size: 335px;
  }
  header ul {
    flex-direction: column;
  }
  .banana {
    margin-left: 1px;
  }
  .s2 .text-div .description {
    width: 264px;
    height: 62px;
  }
  .s2 .text-div .organic-p {
    width: 181px;
    height: 149px;
  }
  .s2 .text-div .quality-p {
    width: 175px;
  }
  .s2 .text-div input {
    margin-left: 70px;
  }
  .s3 .shop-div-main {
    width: 613.361px;
  }
  .s3 .shop-button {
    margin-left: 278px;
    margin-top: 30px;
  }
  .s4 .s4-main-div .profile {
    margin-left: 335px;
  }
  .s4 .s4-main-div .rate-for-costumer {
    margin-left: 349px;
  }
  .s4 .s4-main-div .comentar {
    margin-left: 86px;
  }
  .s4 .s4-main-div .costumer {
    margin-left: 352px;
  }
  .s4 .s4-main-div .circle {
    margin-left: 363px;
  }
  .s4 .s4-main-div .cirle-rate {
    margin-left: 98px;
  }
  .s5 .shop-div-main2 {
    width: 663.361px;
  }
  .s6 .s6-div {
    left: 145px;
    top: 7910px;
  }
  .s8 .s8-traning {
    margin-top: 100px;
  }
  .s8 .flex .bg .s8-bg-text {
    box-shadow: 0px 20px 10px grey;
    background-color: white;
    width: 361px;
    height: 230px;
    position: absolute;
    top: 10144px;
    left: 5px;
    border-radius: 20px;
  }
  .s8 .flex .bg .bg-text2-s8 {
    margin-left: 393px;
  }
  .s9 .background {
    width: 758px;
    height: 180px;
    margin-left: 5px;
  }
  .s9 .background #comment {
    margin-left: 358px;
    width: 236px;
  }
  .about-us-s2 .flex margin-bottom .food {
    width: 349px;
    height: 419px;
    margin-top: 30px;
  }
  .about-us-s3 img {
    width: 394px;
  }
  .aboutus-s4 .flex-team {
    margin-left: 193px;
  }
  .aboutus-s5 {
    height: 900px;
  }
  .aboutus-s5 .bg-offer {
    width: 304px;
    margin-bottom: 7px;
  }
  .aboutus-s5 .bg-offer4 {
    width: 309px;
  }
  .aboutus-s5 .flex-offer {
    flex-wrap: wrap;
  }
  .aboutus-s5 .text-flex h2 {
    color: #274C5B;
  }
  .services-s1 h2 {
    text-align: left;
  }
  .services-s2 img {
    width: 311px;
    margin-top: 70px;
  }
  .services-s2 button {
    margin-left: 280px;
  }
  .services-s4 div {
    margin-left: -863px;
  }
  .contact-us-s2 .contact-us-img img {
    width: 290px;
  }
  .contact-us-s2 .contact-us-s2-text .contact-h2 {
    width: 438px;
  }
  .contact-us-s3 .contact-us-bg .contact-us-bg2 {
    margin-left: 166px;
  }
  .contact-us-s4 .send-message {
    margin-left: 258px;
  }
  .contact-us-s4 textarea {
    width: 684px;
  }
  .contact-us-s4 .name-email-input input {
    width: 293px;
  }
  .contact-us-s4 .Company-subject-input input {
    width: 293px;
  }
}
@media (max-width: 480px) {
  header {
    height: 100px;
  }
  header .login-a {
    margin-left: -103px;
  }
  header .cart {
    margin-left: -3px;
  }
  .healty {
    margin-left: 22px;
  }
  .explore-button {
    margin-left: 22px;
  }
  .s2 .img-div img {
    width: 194px;
    margin-top: 200px;
  }
  .s3 .shop-div-main {
    width: 297.361px;
  }
  .s3 .shop-button {
    margin-left: 140px;
  }
  .s4 .s4-main-div .costumers-h2 {
    margin-bottom: 24px;
  }
  .s4 .s4-main-div .profile {
    margin-left: 190px;
  }
  .s4 .s4-main-div .rate-for-costumer {
    margin-left: 203px;
  }
  .s4 .s4-main-div .costumer {
    margin-left: 209px;
  }
  .s4 .s4-main-div .circle {
    margin-left: 223px;
    margin-bottom: 50px;
  }
  .s4 .s4-main-div .cirle-rate {
    width: 400px;
    margin-left: 45px;
  }
  .s5 {
    height: 2021px;
  }
  .s5 .shop-div-main2 {
    width: 340.361px;
  }
  .s5 .traning {
    margin-left: 118px;
    font-size: 30px;
  }
  .s6 .s6-div {
    width: 490px;
    left: -5px;
    top: 10540px;
  }
  .s7 .flex {
    left: -32px;
    top: 10540px;
  }
  .s8 .flex {
    flex-wrap: wrap;
  }
  .s8 .flex .bg .s8-bg-text {
    top: 12756px;
    left: 68px;
  }
  .s8 .flex .bg .bg-text2-s8 {
    margin-top: 800px;
    margin-left: 7px;
  }
  .s9 .background {
    height: 232px;
  }
  .s9 .background #comment {
    margin-left: 9px;
  }
  .s9 .background #mail {
    margin-top: 120px;
    margin-left: -342px;
    margin-bottom: 5px;
  }
  footer .flex {
    flex-wrap: wrap;
  }
  footer .flex .footer-div2 p {
    margin-bottom: 10px;
  }
  footer .flex .footer-div3 {
    width: 477px;
  }
  .about-us-s1 .about-us-header {
    font-size: 80px;
  }
  .about-us-s2 .flex {
    flex-wrap: wrap;
  }
  .about-us-s2 .flex .food {
    width: 446px;
    height: 445px;
  }
  .about-us-s2 .flex .text-div1 {
    margin-left: 60px;
    margin-bottom: 50px;
  }
  .about-us-s3 img {
    width: 432px;
  }
  .about-us-s3 .flex {
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
  .about-us-s3 .flex3 {
    flex-wrap: wrap;
  }
  .aboutus-s4 .flex-team {
    margin-left: 30px;
  }
  .aboutus-s5 {
    height: 1548px;
  }
  .bg-offer2 {
    margin-bottom: 10px;
  }
  .bg-offer3 {
    margin-bottom: 10px;
  }
  .services-s1 h2 {
    font-size: 95px;
    padding-top: 141px;
  }
  .services-s2 img {
    width: 64px;
    margin-top: 5px;
  }
  .services-s2 button {
    margin-left: 145px;
  }
  .services-s4 div {
    margin-left: -1205px;
  }
  .services-s4 p {
    width: 477px;
  }
  .services-s4 svg {
    margin-left: 174px;
  }
  .contact-us-s1 {
    height: 195px;
  }
  .contact-us-s2 .contact-us-img img {
    width: 411px;
  }
  .contact-us-s2 .contact-flex {
    flex-wrap: wrap;
  }
  .contact-us-s3 .contact-us-bg .contact-us-bg2 {
    margin-left: 7px;
    width: 450px;
  }
  .contact-us-s4 .name-email-input input {
    width: 157px;
  }
  .contact-us-s4 .Company-subject-input input {
    width: 157px;
  }
  .contact-us-s4 textarea {
    width: 410px;
  }
  .contact-us-s4 .send-message {
    margin-left: 107px;
  }
  .news-s2 .bg-news .news-white-bg {
    width: 433px;
    margin-left: 13px;
  }
  .news-s1 h2 {
    font-size: 70px;
  }
  .bar {
    width: 50px;
    height: 50px;
  }
  header nav {
    visibility: hidden;
  }
}/*# sourceMappingURL=global.css.map */